/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-06-05, 16:35:38
    Author     : diabelb
*/

.post > .panel-heading {
    padding: 4px;
    background-color: #1F0000 !important;
    padding-left: 10px;
    border-top: 3px solid #b58888 !important;
}

.post > .panel-heading h2 {
    font-size: 15px;
    margin-top: 8px;
}

.post > .panel-heading h2 span, 
.post > .panel-heading h2 span a {
    color: #b58888;

}

.post > .panel-heading > h2 >.tag {
    color: #b58888; 
    font-size: 11px; 
    font-weight: bold; 
    margin-left: 4px;
}

.post > .panel-heading > h2 > .postTitle {
    color: white;
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
}

.post > .panel-heading h2 span a:hover {
    text-decoration: none;
    color: #d2b8b8;
}

@media (min-width: 768px) {
    .post > .panel-body > .row > .image > a > img {
        max-height: 180px;
    }
}

.post > .panel-body > .row > div > .content {
    min-height: 70px; 
    color: #1F0000
}

.post > .panel-body > .row > .image {
    text-align: center;
}

.post > .panel-body > .row > div > .detail {
    margin-top: 5px; 
    font-weight: bold; 
    font-size: 11px;
}

.post > .panel-body > .row > div > .detail > div> .glyphicon {
    font-size: 15px; 
    color: #444444
}

.post > .panel-body > .row > div > .detail > div> .badge {
    background-color: #1F0000;
}


.post > .panel-footer {
    font-size: 11px;
    text-align: right;
    padding: 4px;
    font-weight: bold;
    background-color: white
}