html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}

#middle {
    padding:10px;
    padding-bottom:80px;	/* Wysokość nagłówka */
    margin-top: 60px;
}

@media (max-width: 768px) {
    #middle {
        margin-top: 40px;
    }
}


#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;		/* Wysokość stopki */
    text-align: center;
    font-size: 12px;
}

.navbar {
    background-color: #1F0000;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #3e6636;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #3e6636;
}

.navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: #3e6636;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: #3e6636;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 22px;
}

.navbar-default .navbar-brand:hover {
    color: #00ADAD;
}

.categoryText {
    font-weight: bold;
    color: #1F0000;
    font-size: 18px;
}

.categoryLinks {
    font-size: 13.8px;
}

.categoryLinks label{
    font-weight: normal;
}

.categoryLinks li a {
    color: #444444;
    padding: 2px 10px;
    margin: 0px;
    width: 120px;
}

.categoryLinks li a:hover {
    color: #001A33;
    background-color: white;
}

.categoryLinks li:hover {
    border-left: solid #AD0000 5px;
}

.categoryLinks .active {
    border-left: solid #AD0000 5px;
}

.categoryLinks > li.active > a {
    font-weight: bold;
    color: #007070;
    background-color: white;
}

.categoryLinks > li.active > a:hover {
    font-weight: bold;
    color: #007070;
    background-color: white;
}

.btn.btn-primary {
    background-color: #1F0000;
    border-color: #330033;
    font-size: 12px !important;
}

.btn.btn-primary:hover {
    background-color: #b58888;
    border-color: #b58888;
}

.filter-button {
    font-weight: bolder;
    padding: 10px;
}

@media (max-width: 768px) {
    .panel-body {
        padding: 30px;
        font-size: 16px;
    }
}

.fAnnouncements {
    color: #444444;
}

.fAnnouncements .control-label{
    font-weight: bold;
    color: #1F0000;
    font-size: 18px;
}

.nav-pills > .active > a > .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #F2A502;
    border-radius: 10px;
}

.howitworks.title {
    text-align: center;
}

.howitworks.title h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #1F0000;
}

.rules.title h1 {
    font-size: 22px; 
    color: black;
}

.btn-green {
    color: white;
    background-color: #8ebb5b;
    border-color: #8ebb5b;
    font-size: 16px !important;
    font-weight: bolder;
}

.btn-green:hover {
    color: white;
    background-color: #3e6636;
    border-color: #8ebb5b;
    font-size: 16px !important;
    font-weight: bolder;
}

.btn-orange {
    color: white;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    font-size: 16px !important;
    font-weight: bolder;
}

.btn-orange:hover {
    color: white;
    background-color: #d69841;
    border-color: #f0ad4e;
    font-size: 16px !important;
    font-weight: bolder;
}

@media (max-width: 1200px) {
    .container {
        margin: 0px;
        width: 100%;
    }
}

.pagination > li > a {
    background-color: #1F0000;
    color: #b58888;
    border: 1px solid #b58888;
}

.pagination > li > a:hover {
    background-color: #b58888;
    border: 1px solid #b58888;
    color: white;
}

.pagination > .disabled > span:hover {
    background-color: #1F0000;
    color: #b58888;
    border: 1px solid #b58888;
}

.pagination > .disabled > span {
    background-color: #1F0000;
    color: #b58888;
    border: 1px solid #b58888;
}

.pagination > .active > a {
    background-color: #b58888;
    color: white;
    font-weight: bolder;
    border: 1px solid #b58888;
}

.pagination > .active > a:hover {
    background-color: #b58888;
    color: white;
    font-weight: bolder;
    border: 1px solid #b58888;
}